<div class="inline-menu-container">
  <span class="status">I'm available for freelance</span>
  <ul class="inline-menu">
    <li class="about menu-item">About</li>
    <li class="experience menu-item">Experience</li>
    <li class="portfolio menu-item">My projects</li>
    <li class="contact menu-item">Contact</li>
    <li id="close" class="menu-item"><i class="fas fa-times"></i></li>

  </ul>
</div>
<section class="home img-bg">
  <div class="overlay opacity5"></div>
  <div class="container">
    <div class="name-block">
      <div class="name-block-container">
        <h1><span>Hi, I'm</span>Mazhar Hayat</h1>
        <h2 id="element"></h2>
        <a target="_blank" href="assets/pdf/Mazhar_Hayat-Sr_Software_Engineer[MOHRE].docx" class="btn btn-download">Download Resume</a>
        <ul class="social">
          <li><a href="https://github.com/mahzar1783" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/mazharhayyat" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://twitter.com/hayat_mazhar" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="menu-blocks">
      <div class="about-block menu-block">
        <div class="about-block-container">
          <h2 class="about menu-item">About</h2>
        </div>
      </div>
      <div class="experience-block menu-block">
        <div class="experience-block-container">
          <h2 class="experience menu-item">Experience</h2>
        </div>
      </div>
      <div class="portfolio-block menu-block">
        <div class="portfolio-block-container">
          <h2 class="portfolio menu-item">My projects</h2>
        </div>
      </div>
      <div class="contact-block menu-block">
        <div class="contact-block-container">
          <h2 class="contact menu-item">Contact</h2>
        </div>
      </div>
    </div>
    <div class="content-blocks about">
      <section class="content" id="about">
        <div class="block-content">
          <h3>
            I am a full time <strong>software engineer</strong> and do full stack in the remaining time.
          </h3>
          <p class="m-0">
            I work on both sides in my personal projects, but web apis is what I like the most.
          </p>
          <p class="m-0">
            I have completed my Computer Science degree. I
            am experienced with desktop, web and mobile software development and startups, constantly learning and always hardworking.
            I have been creating and evolving web applications and softwares over the last six years.
          </p>

          <div class="info-list row">
            <div class="col-sm-6"><span>Name: </span> Mazhar Hayat</div>
            <div class="col-sm-6"><span>Date of birth: </span> October 9, 1989</div>
            <div class="col-sm-6"><span>Address: </span> Right now, Dubai, United Arab Emirates</div>
            <div class="col-sm-6"><span>Interest: </span> Full-time and freelance</div>
          </div>
        </div>
        <div class="block-content">
          <h3 class="block-title">More about me</h3>
          <div class="row">
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <div class="rounded-circle cover-image" [style.background-image]="'url(/assets/images/gijon.jpg)'">
                  &nbsp;
                </div>
              </div>
              <h4>Bahawalpur, Pakistan</h4>
              <p>I was born in Bahawalpur, a small city in the South Punjab, Pakistan. Nowadays I'm living in Dubai, UAE.</p>
            </div>

            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <div class="rounded-circle cover-image" [style.background-image]="'url(/assets/images/swimingpool.jpg)'">
                  &nbsp;
                </div>
              </div>
              <h4>Swimming</h4>
              <p>It's my main sport and the healthier one that I have practice. I have been a best swimmer in my school days</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                <div class="rounded-circle cover-image" [style.background-image]="'url(/assets/images/collado.jpg)'">
                  &nbsp;
                </div>
              </div>
              <h4>Mountain</h4>
              <p>Some weekends I like to do routes all over North Pakistan. Fairy Meadows and Kashmeer are our
                preferences.</p>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12 btn-email">
            <a class="btn lowercase" href="mailto:mazhar1783@outlook.com" target="_top">
             mazhar1783@outlook.com
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks experience">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">Experience</h3>
          <div class="timeline experience">
            <div class="row">
              <div class="col-md-12">
                <div class="exp-holder">
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Lead Lead Full Stack Engineer</span>
                        <br>
                        <a href="http://mohre.gov.ae" target="_blank">@ Ministry of Human Resources and Emiratisation </a>
                      </h4>
                      <h5>June 2018 - <span class="current">Present</span></h5>
                      <h5>Dubai, UAE</h5>
                    </div>
                    <p>
                      I currently work as Lead software Engineer for minitry mobile application and also worked on other projects for the all expat in UAE and their labour services.
                      On the front we use Angular, Asp.Net MVC as well as Bootstrap 4 with SASS, among
                      others. In the back we have microservices with WEB APIs, SQLServer, Oracle. To deploy we
                      have Jenkins. Our methodology is SCRUM (two week sprints) and we use JIRA as task manager.
                    </p>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Senior Software Engineer- Lead</span>
                        <br>
                        <a href="http://www.trgworld.com/" target="_blank">
                          @ TRG Tech Lahore, Pakistan
                        </a>
                      </h4>
                      <h5>June 2015 – June 2018</h5>
                      <h5>Lahore, Pakistan</h5>
                    </div>
                    <div>
                      <p class="m-0">Lead software engineer, 360 social CRM a complete scoial listening and relationship management </p>
                      <ul>
                        <li> Programming with Angular 2+ and Typescript (Angular CLI)</li>
                        <li> Use of Bootstrap, SASS (BEM), Responsive Design, CSS3, Gulp and NPM</li>
                        <li> Asp.Net Web Apis for backend</li>
                        <li> Error handling with Elmah</li>
                        <li> The architecture was based on microservices with dapper</li>
                        <li> Architecture design to make everything maintainable and scalable in the future</li>
                        <li> Special care of application performance and security</li>
                        <li> Deployed on AWS</li>
                        <li> using Amazon S3 </li>
                        <li> As a version control system we use GIT and TFS</li>
                        <li> Agile Methodology (SCRUM)</li>
                      </ul>
                    </div>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Software Engineer</span>
                        <br>
                        <a href="http://www.nextbridge.pk/" target="_blank">@ Nextbridge Pvt Ltd</a>
                      </h4>
                      <h5>Dec 2013 – June 2015</h5>
                      <h5>Lahore, Pakistan</h5>
                    </div>
                    <div>
                      <p class="m-0">
                        Here I worked with Microsoft technologies, I am involved in requirement gathering, analysis, Design, and Development,
                        Asp.Net MVC, EF, Code First, AngularJS, WCF, WEB API, LINQ, JAVASCRIPT, JQUERY, AJAX moreover as following.
                      </p>
                      <ul>
                        <li>Programming with Javascript (jQuery), CSS3 (SASS and Bootstrap) and AngularJS </li>
                        <li>Scheduling tasks with Gulp and NPM</li>
                      </ul>
                      <p>
                        During this period, I also added tests to the application, I improved the SEO of the web,
                        and in the back helped in the design of the database to migrate all data to MongoDB.
                      </p>
                    </div>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Software Engineer</span>
                        <br>
                        <a href="https://www.netsoltech.com/" target="_blank">@ NetSol Technologies</a>
                      </h4>
                      <h5>Jan 2013 – Dec 2013</h5>
                      <h5>Lahore, Pakistan</h5>
                    </div>
                    <div>
                      <p class="m-0">
                        In this company, I worked until the completion of a real-time application to manage a Netsol Financial Suite application.
                      </p>
                      <ul>
                        <li>Responsible for management of FIAT China & CNH Australia.</li>
                        <li>Involved in optimization and maintenance of Netsol Financial Suite application</li>
                        <li>Collaboration with QA team and clients to timely diagnose and remove faults.</li>
                        <li>Enhancement and maintenance of previously developed modules in the CAP (Credit Application Processing)</li>
                        <li>Release management of maintenance projects</li>
                        <li>Client communication to clear client understanding on reported fault and requirement gathering</li>
                      </ul>
                    </div>
                  </div>
                  <div class="exp">
                    More in the resume
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-content">
          <h3 class="block-title">Education</h3>
          <div class="timeline education">
            <div class="row">
              <div class="col-md-12">
                <div class="exp-holder">
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Master's Degree in Computer Science</span>
                        <br>
                        <a href="http://iub.edu.pk/" target="_blank">@ The Islamia University, Pakistan</a>
                      </h4>
                      <h5>2010 - 2012</h5>
                    </div>
                    <div>
                      <p class="m-0">
                        Master of the Computer Science (MCS)) where I obtained a knowledge
                        specialized in:
                      </p>
                      <ul>
                        <li>Front-end web development (HTML5, CSS3, SASS, jQuery and AngularJS)</li>
                        <li>Programming methodologies in Java, PHP, and basic NodeJS concepts</li>
                        <li>Development of web applications using design patterns and web services</li>
                        <li>Advanced concepts of usability, accessibility and web positioning (SEO)</li>
                        <li>Application development on Android mobile devices (Java 7)</li>
                        <li>Administration and programming in CMS: Joomla and Wordpress (theme)</li>
                        <li>Semantic Web Training (Schema and structured data)</li>
                      </ul>
                    </div>
                  </div>
                  <div class="exp">
                    <div class="hgroup">
                      <h4>
                        <span>Bachelor's Degree in Computer Science</span>
                        <br>
                        <a href="http://iub.edu.pk/" target="_blank">@ The Islamia University, Pakistan</a>
                      </h4>
                      <h5>2008 - 2010</h5>
                    </div>
                    <div>
                      <p class="m-0">First cycle degree where I acquire competences in:</p>
                      <ul>
                        <li>Programming in C++ and Java</li>
                        <li>Basic web concepts (HTML and CSS)</li>
                        <li>Server Administration: Windows and Linux</li>
                        <li>Mathematical study and analysis</li>
                        <li>Modeling problems using UML</li>
                        <li>Relational database design</li>
                        <li>Design patterns, refactoring and good practices</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-md-12 btn-email">
            <a class="btn lowercase" href="mailto:mazhar1783@outlook.com" target="_top">
              mazhar1783@outlook.com
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks portfolio">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">My projects</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="filters">
                <!-- <span>Filters :</span> -->
                <!-- <ul id="filters">
                  <li class="active" data-filter="*">All</li>
                  <li data-filter=".webs">Webs</li>
                  <li data-filter=".apps">Apps</li>
                  <li data-filter=".libraries">Libraries</li>
                </ul> -->
              </div>
              <div class="portfolio-container row isotope" id="portfolio-container">
                <!-- WORK 1 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs" id="angular-example-app-work">
                  <a class="open-project" href="https://cep.myiwt.com/" target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>IWT a social platform</h2>
                          <hr>
                          <p>A base project with Angular</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="assets/images/iwt.PNG" style="height: 130px;" alt="IWT a social platform">
                    </div>
                  </a>
                </div>
                <!-- WORK 1 END -->
                <!-- WORK 2 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs">
                  <a class="open-project" href="https://ampjucks.com/" target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Ampjucks</h2>
                          <hr>
                          <p>Example boilerplate to use AMP with templates</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/1ZmidYgwwXCs0oFpIK/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 2 END -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs">
                  <a class="open-project" href="https://jesuspeñalver.es/" target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Jesus Peñalver</h2>
                          <hr>
                          <p>Portfolio website of a good friend of mine</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/1xOf7L7IlNyJgr22pa/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 3 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webs">
                  <a class="open-project" href="https://peluqueriapilarsilvan.com/" target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>PPS web</h2>
                          <hr>
                          <p>Small website for a hairdressing</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/5QP4UwRLDklpS4pUlx/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 3 END -->
                <!-- WORK 4 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item apps" style="padding: 6%;">
                  <a class="open-project" href="https://play.google.com/store/apps/details?id=gijonsquashclub.liga"
                    target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Gijón Squash Club</h2>
                          <hr>
                          <p>For view results of the league and find other players</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/2Yb1AnOwYGBWjuXAKQ/giphy.gif" alt="">
                    </div>
                  </a>
                </div>

                <!-- WORK 4 END -->
                <!-- WORK 5 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item apps" style="padding: 6%;">
                  <a class="open-project" href="https://play.google.com/store/apps/details?id=packingup.core.activities"
                    target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>Packing up</h2>
                          <hr>
                          <p>Don't forget anything when travel</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/6bcf8s3JAWHmevnEmV/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 5 END -->
                <!-- WORK 6 START -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item apps" style="padding: 6%;">
                  <a class="open-project" href="https://play.google.com/store/apps/details?id=peluqueria.pilar.silvan"
                    target="_blank">
                    <div class="portfolio-column">
                      <div class="portfolio-hover">
                        <div class="portfolio-content">
                          <h2>PPS app</h2>
                          <hr>
                          <p>For get the latest news and offers</p>
                        </div>
                        <div class="portfolio-overlay"></div>
                      </div>
                      <img src="https://media.giphy.com/media/1fgkWO4dvTuG0KaU50/giphy.gif" alt="">
                    </div>
                  </a>
                </div>
                <!-- WORK 6 END -->
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12 btn-email">
            <a class="btn lowercase" href="mailto:mazhar1783@outlook.com" target="_top">
              mazhar1783@outlook.com
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks contact">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">Get in touch</h3>
          <div class="row">
            <div class="col-md-5">
              <div class="contact-content">
                <div class="contact-icon">
                  <i class="fas fa-location-arrow"></i>
                </div>
                <div class="contact-details">
                  <h5>Address (approx.)</h5>
                  <p>Al Nahda 1, Dubai, United Arab Emirates</p>
                </div>
              </div>
              <div class="contact-content">
                <div class="contact-icon">
                  <i class="fas fa-phone-volume"></i>
                </div>
                <div class="contact-details">
                  <h5>Phone</h5>
                  <p><a href="tel:+971 55 6127128">+971 55 6127128</a></p>
                </div>
              </div>
              <div class="contact-content">
                <div class="contact-icon">
                  <i class="far fa-envelope-open"></i>
                </div>
                <div class="contact-details">
                  <h5>Email</h5>
                  <p>mazhar1783@outlook.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3607.4833713805237!2d55.3630218!3d25.287959!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5c641d5a9e2f%3A0x9e2a1fef589bd3b0!2sMai+Tower+-+Dubai!5e0!3m2!1sen!2sae!4v1545307901456" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="content-blocks pop">
      <div id="close-pop" class="close-pop">Close <i class="ion-ios-close-empty"></i></div>
      <section class="content"></section>
    </div>
  </div>
</section>
